#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#chatUsers {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:right;
    padding:5px; 
}
#section {
    border: solid 1px;
    width:700px;
    height: 300px;
    float:left;
    padding:10px; 
}

#article {
    border: solid 1px;
    width:700px;
    float:left;
    padding:10px; 
}


#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

